/*
    DEMO STYLE
*/

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
  font-family: 'Poppins', sans-serif;
  background: #fafafa;
}

p {
  font-family: 'Poppins', sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
  color: #999;
}

a, a:hover, a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

.navbar {
  padding: 15px 10px;
  background: #fff;
  border: none;
  border-radius: 0;
  margin-bottom: 40px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
  box-shadow: none;
  outline: none !important;
  border: none;
}

.line {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #ddd;
  margin: 40px 0;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
  width: 100%;
  min-height: 100vh;
  transition: all 0.3s;
}

.nav-item:hover {
  cursor: pointer;
}

.dropdown-item:hover {
  cursor: pointer;
}

.card-body:not(#artist .card-body) {
  max-height: 72vh;
  overflow-y: auto;
}

.dropdown-item.artist+button {
  font-size: 12px !important;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
  #sidebar {
    margin-left: -250px;
    transform: rotateY(90deg);
  }
  #sidebar.active {
    margin-left: 0;
    transform: none;
  }
  #sidebarCollapse span:first-of-type, #sidebarCollapse span:nth-of-type(2), #sidebarCollapse span:last-of-type {
    transform: none;
    opacity: 1;
    margin: 5px auto;
  }
  #sidebarCollapse.active span {
    margin: 0 auto;
  }
  #sidebarCollapse.active span:first-of-type {
    transform: rotate(45deg) translate(2px, 2px);
  }
  #sidebarCollapse.active span:nth-of-type(2) {
    opacity: 0;
  }
  #sidebarCollapse.active span:last-of-type {
    transform: rotate(-45deg) translate(1px, -1px);
  }
}

/*  ------------------------------------------------------- user define -------------------------------------------------- */

.tab-active {
  display: block !important;
}

.tab {
  display: none;
}

.song_item:hover {
  cursor: pointer;
  color: rgb(63, 63, 245) !important;
}

.sup {
  font-size: 12px;
}

.summary {
  font-size: 14px;
}

.summary a {
  color: rgb(31, 31, 248);
  text-decoration: underline !important;
}

.carousel {
  width: 50%;
  margin: 0 auto;
}

#biography {
  height: 40vh;
  overflow: hidden;
  transition: 0.6s;
}

.show_more {
  text-decoration: underline;
}

.less {
  height: auto !important;
  transition: 0.6s;
}

.show_more:hover {
  cursor: pointer;
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 80vw !important;
    margin: 1.75rem auto;
  }
}

.tag_item_image{
  width: 12vw !important;
}

.tracks_list{
  overflow-x: auto;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #203340 #aaa;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: #aaa;
}

*::-webkit-scrollbar-thumb {
  background-color: #203340;
  border-radius: 20px;
  border: 3px solid #aaa;
}
.hide_scrollbar{
  overflow: hidden !important;
  transition: 0.4s;
}
.show_scrollbar{
  overflow: auto !important;
  transition: 0.4s;
}